@charset "utf-8";
@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
.amethysta-regular {
    font-family: "Amethysta", serif;
    font-weight: 400;
    font-style: normal;
  }
.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Pretendard';
}

/*************** .banner ***************/
.banner .swiper-container {
    width: 100%;
    height: 35px;
    background-color:#f27d7d; 
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.banner .swiper-slide p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}
.banner .swiper-container .close {
    background-color: transparent;
    border: none;
    margin-right: 5px;
}

/*************** header ***************/
.header {
    width: 100%;
    height: 140px;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 100;
}
.header .inner {
    max-width: 1800px;
    width: calc(100% - 60px);
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .inner .pc_nav .gnb {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}
.header .inner .pc_nav .gnb li {
    display: block;
    padding: 0 20px;
    color: #fff;
    position: relative;
}
.header .inner .pc_nav .gnb li .depth02 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ff9ec349;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    transition: opacity 1.5s ease-in-out;
}
.header .inner .pc_nav .gnb li .depth02 li {
    margin-bottom: 20px;
    color: #fff;
}
.header .inner .pc_nav .gnb li:hover .depth02 {
    display: block;
}

.header .inner .util {
    display: flex;
    gap: 20px;
}
.header .inner .util button {
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .inner .util button img {
    width: 40px;
    height: 40px;
}

/***************  .main_visual ***************/
.swiper .mobile_visual {
    display: none;
}
.main_visual {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main_visual .swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
}
.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.swiper-slide .text {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 2;
    display: block;
}
.swiper-slide .text .inner {
    display: block; 
}
.swiper-slide .text .inner strong {
    font-size: 2.5rem;
    display: block;
    margin-bottom: 0.5rem;
}

.swiper-slide .text .inner h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.swiper-slide .text .inner p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.main_visual .swiper-button-next, .main_visual .swiper-button-prev {
    background-image: none;
    display: none;
}
.main_visual .swiper-c_button-next,
.main_visual .swiper-c_button-prev {
    position: absolute;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    width: 80px;
    height: 40px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}
.main_visual .swiper-c_button-next {
    background-image: url(../img/next.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    
}
.main_visual .swiper-c_button-prev  {
    background-image: url(../img/prev.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 10px;

}

/**************** .new ***************/
.new {
    margin-top: 80px;
    text-align: center;
    position: relative;
}
.new .swiper-container::before {
}
.new h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    font-family: "Abril Fatface", serif;
}
.new .category {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
}
.new .category .button {
    border: none;
    background-color: transparent;
    gap: 80px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 20px;
}
.new .category .button.active {
    font-weight: bold;
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 20px;
}
.category::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(../img/new.png);
    z-index: -1;
}
.new .swiper-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.new .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new .slide-item {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.new .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new .slide-item p {
    color: #333;
}
.new .item-info {
    position: absolute;
}
.new .swiper-button-next,
.new .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.new .swiper-button-next::after ,.new .swiper-button-prev::after {
    display: none;
}
.new .swiper-button-next {
    right: -80px;
    background: url(../img/다음.svg) no-repeat;
}
.new .swiper-button-prev {
    left: -80px;
    background: url(../img/이전.svg) no-repeat;
}

/*************** .hot_picks ***************/
.hot_picks {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 140px 20px;
}
.hot_picks h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    font-family: "Abril Fatface", serif;
}
.hot_picks .text {
    text-align: center;
    align-items: center;
}

.hot_picks .text p {
    padding-bottom: 60px;
}
.hot_picks .text span {
    border: 1px solid #333;
    color: #fff;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #333;
}
.hot_picks .hot_wrap {
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    height: 650px;
}
.hot_picks .item {
    width: 30%;
    position: relative;
    margin-top: 100px;
    z-index: 1; 
}
.hot_picks .item.left {
    z-index: 0;
    left: 13%;
    top: -120px;
}

.hot_picks .item.center {
    z-index: 2;
}
.hot_picks .item.right {
    z-index: 0;
    transform: scale(0.6);
    bottom: 160px;
    right: 15%;
}

.item.right img {
    width: 200px;
}

.hot_picks .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hot_emphasis p {
    margin-top: 50px;
    font-size:150px;
    color: #171C8F;
    font-family: "Abril Fatface", serif;
}
.hot_images {
    display: flex;
    gap: 20px;
    position: relative;
}
.hot_images .item {
    width: 48%;
    overflow: hidden; 
}
.hot_images .item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.hot_images .button {
    background-color: #d79494be;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    background: url(../img/더보기.svg);
    background-size: contain;
}


/*************** .brand ***************/
.brand {
    background: url(../img/Brand.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.brand::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.brand .inner {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.brand .text {
    flex: 1;
    margin-left: 100px; 
    text-align: left;
    z-index: 3;
}
.brand .text h2 {
    font-size: 50px;
    line-height: 1.4;
    color: #fff;
    font-weight: bold;
}
.brand .text p {
    margin: 20px 0;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}
.brand .text span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.brand .swiper-container {
    flex: 2;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-right: 0;
    padding-right: 0;
}
.brand .swiper-wrapper {
    display: flex;
    width: 100%;
}
.brand .swiper-slide {
    width: 100%;
    flex: 0 0 auto;
}
.brand .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*************** .sns ***************/
.sns {
    padding: 60px 300px;
    background: linear-gradient(to left, #F4DADD 30%, transparent 30%);
    height: 1000px;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
}
.sns .inner {
    display: flex;
    justify-content: flex-end; 
    gap: 30px; 
}
.instagram_1 .item video {
    width: 70%;
}
.sns .text a {
    font-size: 18px;
    text-align: center; 
    margin: 10px 0; 
    position: relative; 
    z-index: 2; 
}
.sns .follow {
    color: #939393;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
}
.sns .instagram{
    color: #000;
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 20px;
}
.instagram_2 .item video {
    width: 80%;
}
.instagram_2 {
    margin-top: 80px;
}

/*************** .footer ***************/
.footer {
    background-color: #191919;
    /* padding: 5rem 2rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    width: 100%;

    /* justify-content: space-between; 
    align-items: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 600px;
    flex-direction: column; */
}
.ft_wrap {
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem 0;
}
.l_wrap {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 14px;
}
.r_wrap {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 20%;
    margin-top: 50px;

}
.f_inner {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.logo {
    flex: 0 0 auto; 
    margin-right: 50px; 
}
.info {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
.info .name {
    color: #fff;
    font-family: 'Pretendard-Bold';
    font-size: 14px;
}
.info_box {
    display: flex;
    gap: 200px;
    margin-bottom: 50px;
}
dl {
    display: flex; 
    gap: 10px;
    margin: 10px 0;
    font-size: 13px;
}

dt {
    font-family: 'Pretendard-Light';
    color: #fff;
}

dd {
    margin: 0;
    font-family: 'Pretendard-Medium';
    color: #666666;
}
.link_box {
    display: flex;
    gap: 20px;
}
.copy {
    color: #666666;
}

.cs_box {
    display: flex;
    flex-direction: column;
}
.cs_box .tit , a{
    color: #fff;
    font-size: 13px;
    font-family: 'Pretendard-Regular';
}
.cs_cont {
    color: #666666;
    font-size: 13px;
    font-family: 'Pretendard-Regular';
    margin-top: 10px;
}
.f_title {
    margin-top: auto;
    width: 100%;
}
.f_title .f_text {
    color: #292828;
    font-size: 210px;
    font-family: "Amethysta", serif;
    text-align: center;
}
.main_button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    background: none;
}

.main_button img {
    width: 60px;
    height: auto;
}
.sub_buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 100px; 
    right: 20px;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}
.sub_buttons.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.sub_buttons button {
    margin: 10px 0;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.sub_button img {
    width: 50px;
    height: auto; 
}
